<!-- {% load static %} -->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel = "stylesheet" type = "text/css" href = "css/styles.css"> -->
    <link type="text/css" href="{% static 'todo/css/styles.css' %}" rel="stylesheet" />
    <!-- <link type="text/css" href='../../static/todo/css/styles.css' rel="stylesheet" /> -->

    <title>Document</title>
</head>
<body>
<div class="todo__background"> 
    <div class="todo__header">
        <div>
            <h1 class="todo__title">TODO'шка</h1></div>
        <div class="new_task">
            <div  class="todo__newtask" >
              <input  class="todo__textfield_newtask" id="#newtask_title" type="text">
            </div>
            <div class="todo__button_newtask" >
                <button onclick="addTask()">ADD NEW TASK</button>
            </div>
        </div>
    </div>
    <!-- <div class="todo__body"> 
        <div class="todo__body__background"> 
            <div class="todo__body__filter">  
                <div class="">
                    <button>Active</button>
                </div>
                <div class="">
                    <button class="filter.center">Completed</button>
                </div>
                <div class="selected">
                    <button>All</button>
                </div>
                <-- <p class="filter.left">Active</p>
                <p class="filter.center">Completed</p>
                <p class="filter.right selected">All</p> --
            </div>
            <div class="todo__tasks_list">
                <ul id="tasks_list">
                    <-- <div>
                        <li>Task 1</li> 
                    </div> --
        
                </ul>
            </div>
        </div>
       
    </div> -->
    <div class="todo__body"> <!-- Table -->
        <div class="todo__body__background">  <!--  table -->
            <div class="todo__body__filter">  <!-- Table-row -->
                <div class="">
                    <button>Active</button>
                </div>
                <div class="">
                    <button class="filter.center">Completed</button>
                </div>
                <div class="selected">
                    <button>All</button>
                </div>
                <!-- <p class="filter.left">Active</p>
                <p class="filter.center">Completed</p>
                <p class="filter.right selected">All</p> -->
            </div>
            <div class="todo__tasks_list" id="tasks_list">
                <div class="advanced__mode">
                    <div class="task_data"> 
                        <span>Advanced_mode</span>
                    </div>
                    <div class="task_buttons">
                        <div class="task__button__del" >
                            <button >DEL</button>
                        </div>
                        <div class="task__button__edit">
                            <button >EDIT</button>
                        </div>
                        <div class="task__button__done">
                            <button >OK</button>
                        </div>
                    </div>
                </div> 

                
                <div class="preview_mode">
                    <button>Prewiew_mode</button>
                </div>
                <div class="preview_mode">
                    <button>Prewiew_mode</button>
                </div>
                <div class="edit__mode">
                    <div class="task_data"> 
                        <input type="text" value="Edit_mode">
                    </div>
                    <div class="task_buttons">
                        <div class="task__button__cancel" >
                            <button >X</button>
                        </div>
                        <div class="task__button__agree">
                            <button >OK</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
       
    </div>
</div>
<script src="{% static 'todo/js/base.js' %}" asp-append-version="true"></script>
<script type="text/javascript"> getGroups();</script>
</body>
</html>